@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-bigstone: #1a3642;
  --color-silverchalice: #a1a1a1;
  --color-alto: #d1d1d1;
  --color-tealyellow: #ffbe67;
  --color-twilightBlue: #f1fbff;
  --color-william: #345b63;
  --color-scorpion: #606060;
  --color-gray: #919191;
  --color-bridalHealth: #fff8ef;
  --color-karry: #ffecd4;
  --color-astra: #fbe6c1;
  --color-quincy: #614831;
  --color-sandybrown: #f1aa4c;
  --color-botticelli: #d3e5ec;
  --color-catSkillWhite: #f0f6f8;
  --color-springWood: #f8f5f1;
  --color-bitter: #8a8b7f;
  --color-brandyPunch: #d68d2c;
  --color-islandSplice: #fffaee;
  --color-putty: #e8ce92;
  --color-woodsmoke: #111518;
  --color-firefly: #0c1b22;
  --color-silver: #c4c4c4;
  --color-peachorange: #ffd49c;
  --color-rawsienna: #d49847;
  --color-ochre: #d58822;
  --color-bluedianne: #1e3a47;
  --color-nevada: #6a6e71;
  --color-mercury: #e7e7e7;
  --color-nobel: #b4b4b4;
  --color-marconi_cheese: #ffc27f;
  --color-desertstorm: #f2f1f0;

  --font-clashdisplay: var(--font-clashdisplay);
  --font-cabinetgrotesk: var(--font-cabinetgrotesk);
  --font-inter: var(--font-inter);
  --font-albertsans: var(--font-albertsans);
  --font-dmsans: var(--font-dmsans);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
